<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snowfall Machine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="css/style.css" rel="stylesheet"></link>
</head>
<body class="grad">

    <div class="container">
        <div class="row">
          <div class="jumbotron col-md-12 jumbotron text-center ">
            <h1 class="jumbotron" class="display-4" >Snowfall Predictions</h1>
            <p>Use the interactive platform to see probability of snowfall given temperature and humidity</p>
          </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3>Is it going to snow? <small> </small></h3>
                </div>
                <div class="col-md-8">
                    <p>
                        We have taken snowfall data from 6 locations all around the world to create a machine learning model that will help you identify the chances of snowfall in your area based on temperature and humidity levels. Use the interactive platform to see probability of snowfall. These results could help you plan a trip across the country, decide if you need to wear your snow boots on your commute to work, or if there is a powder day awaiting you next time you visit the mountain!
                    </p>
                
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <form action="/results" method="POST" class="bg-dark">
                        <p>What temperature and humidity would you like to test?</p>
                    
                    
                        <ul class="bg-dark list-group">
                            <li class=" bg-dark list-group-item">
                                <label for="date">Enter Temperature</label>
                                <input type="text" name="temp" placeholder="32" id="temp"/>
                            </li>
                            <li class=" bg-dark list-group-item">
                                <label for="city">Enter Humidity</label>
                                <input type="text" name="humidity" placeholder="95" id="Humidity"/>
                            </li>
                            <button type="submit" class="btn btn-large btn-block btn-large">Submit</button>
                        </ul>
                    </form>

                </div>
            </div>
        </div>
    </div>
            

</body>
</html>